<button (click)="addModule()" nz-button>创建</button>
<div nz-row>
  <div nz-col [nzSpan]="4">
    <div>
      <div class="moduleListItem" [ngClass]="{'selected':selectedModule&&selectedModule.id==module.id}" 
        *ngFor="let module of modules" (click)="selectModule(module.id)">
        {{module.type}}#{{module.id}}
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="20">
        <div *ngIf="selectedModule" nz-col [nzSpan]="12">
          <label>选择模块类型</label>
          <nz-select style="width: 120px;" [(ngModel)]="selectedModule.type" (ngModelChange)="injectTypeIntoModule(selectedModule)">
            <nz-option *ngFor="let type of moduleTypes" [nzValue]="type.id" [nzLabel]="type.id"></nz-option>
          </nz-select>
          <div>
            <input style="width:400px" nz-input [(ngModel)]="selectedModule.module" placeholder="输入编译之后模块的URL:assets/extmodules/JHGFDTYUIEJHYD/MyRecipe.umd.js">
            <button (click)="loadModule(selectedModule)" nz-button>加载</button>
            <nz-select style="width:200px" style="width: 120px;" [(ngModel)]="selectedModule.moduleName" (ngModelChange)="compileComponents(selectedModule)">
              <nz-option *ngFor="let loadedModule of selectedModule.loadedModules" [nzValue]="loadedModule.name" [nzLabel]="loadedModule.name"></nz-option>
            </nz-select>
          </div>
          <div>
            <label>参数：</label>
            <object-editor [parameters]="selectedModule.parameters" [components]="getComponentsOfSelectedModule(selectedModule)"></object-editor>
          </div>
          <button (click)="submitChange()">确定</button>
        </div>
        <pre *ngIf="selectedModule" nz-col [nzSpan]="12">
            {{extractModule(selectedModule) | json}}
        </pre>
  </div>
</div>